<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Survey Form</title>
</head>
<body>
    <div class="container">
        <h2>Submitted Information:</h2>
        <div class="results">
            <p class="nameResult">Name: <%=name%></p>
            <p class="locationResult">Dojo Location: <%=location%></p>
            <p class="languageResult">Favorite Language: <%=language%></p>
            <p class="commentResult">Comment: <%=comment%></p>
        </div>
    </div>
</body>
</html>